name: CI/CD Workflow

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:

  type-check:
    uses: ./.github/workflows/setup-python.yml
    with:
      python-version: "3.11"
    secrets: inherit
    steps:
      - run: mypy .

  test:
    uses: ./.github/workflows/setup-python.yml
    with:
      python-version: "3.11"
    secrets: inherit
    steps:
      - name: Run tests with coverage + junit
        run: |
          pytest \
            --cov=bot \
            --cov=services \
            --cov=utils \
            --cov-report=xml \
            --cov-report=term \
            --junitxml=junit.xml \
            -o junit_family=legacy

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./coverage.xml
          fail_ci_if_error: true

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/test-results-action@v1
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
          files: ./junit.xml
