name: CI Pipeline

on:
  push:
    branches: [main, dev]
    tags:
      - "v*"
  pull_request:

jobs:

  mypy-check:
    uses: ./.github/workflows/mypy-check.yml
    with:
      python-version: "3.11"

  pytest-check:
    uses: ./.github/workflows/pytest-check.yml
    with:
      python-version: "3.11"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  lint-check:
    uses: ./.github/workflows/lint-check.yml
    with:
      python-version: "3.11"

  format-check:
    uses: ./.github/workflows/format-check.yml
    with:
      python-version: "3.11"

  docker-build:
    if: startsWith(github.ref, 'refs/tags/v')
    uses: ./.github/workflows/docker-build.yml
    with:
      image-name: "wednesday-bot"
