name: CI Pipeline

on:
  push:
    branches: [main, dev]
  pull_request:

jobs:

  # --- TYPE CHECKING ---
  mypy-check:
    uses: ./.github/workflows/mypy-check.yml
    with:
      python-version: "3.11"

  # --- PYTEST ---
  pytest-check:
    uses: ./.github/workflows/pytest-check.yml
    with:
      python-version: "3.11"
    secrets:
      CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}

  # --- LINTING WITH RUFF ---
  lint-check:
    uses: ./.github/workflows/lint-check.yml
    with:
      python-version: "3.11"

  # --- FORMATTING WITH RUFF ---
  format-check:
    uses: ./.github/workflows/format-check.yml
    with:
      python-version: "3.11"

  # В будущем можно добавить:
  #
  # docker-build:
  #   uses: ./.github/workflows/docker-build.yml
